div {
  align-items: center;
}
.t {
  text-align: center;
  font-size: 30px;
}
.m {
  display: inline-block;
}
#line {
  width: 3px;
  height: 550px;
  background-color: rgb(186, 181, 181);
  position: absolute;
  left: 750px;
}
label {
  font-size: 25px;
}
.one {
  width: 250px;
  height: 30px;
}
.text {
  width: 120px;
  height: 30px;
}
input[type="radio"] {
  width: 20px;
  height: 20px;
}
.g {
  font-size: 20px;
}
.gg {
  margin-left: 50px;
}
.s {
  font-size: 25px;
}
.o1{
    width: 300px;height: 30px;
}
.o11{
    width: 300px;height: 50px;
}
.c{
   margin-left: 195px;
   width: 100px;
   height: 50px;
}
