<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<link rel="stylesheet" type="text/css" href="css.css" />
	<f:facet name="first">
		<title>JKFramework Demo</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</f:facet>
</h:head>
<h:body>
	<h1>Calculator</h1>
	<h:form>

		<h:outputLabel value="input: " />
		<h:outputText value="#{controller.getInput()}" />
		<br />
		<br />
		

		<h:panelGrid columns="4" rows="5" border="1" cellpadding="6">

			<h:commandButton class="a" value="7"
				actionListener="#{controller.addNum(7)}" />
			<h:commandButton class="b" value="8"
				actionListener="#{controller.addNum(8)}" />
			<h:commandButton class="c" value="9"
				actionListener="#{controller.addNum(9)}" />
			<h:commandButton class="d" value="/"
				actionListener="#{controller.addNum('/')}" />

			<h:commandButton class="e" value="4"
				actionListener="#{controller.addNum(4)}" />
			<h:commandButton class="f" value="5"
				actionListener="#{controller.addNum(5)}" />
			<h:commandButton class="g" value="6"
				actionListener="#{controller.addNum(6)}" />
			<h:commandButton class="h" value="*"
				actionListener="#{controller.addNum('*')}" />

			<h:commandButton class="i" value="1"
				actionListener="#{controller.addNum(1)}" />
			<h:commandButton class="j" value="2"
				actionListener="#{controller.addNum(2)}" />
			<h:commandButton class="k" value="3"
				actionListener="#{controller.addNum(3)}" />
			<h:commandButton class="l" value="+"
				actionListener="#{controller.addNum('+')}" />

			<h:commandButton class="m" value="0"
				actionListener="#{controller.addNum(0)}" />
			<f:facet name="footer">
				<h:panelGroup style="display:block; text-align:center">
					<h:outputLabel value="Result: " />
					<h:outputText value="#{controller.getOutput()}" />

				</h:panelGroup>
			</f:facet>

			<h:commandButton class="n" value="-"
				actionListener="#{controller.addNum('-')}" />
			<h:commandButton class="o" value="="
				actionListener="#{controller.startCalc()}" />

		</h:panelGrid>
		<br />
		<h:commandButton class="p" value="clear"
			actionListener="#{controller.clear()}" />




	</h:form>
</h:body>
</html>